PORT=8000
JWT_SECRET_KEY="example-token"
DB_URL='mongodb://127.0.0.1:27017/almatar-db'

#EMAIl

MAIL_MAILER=smtp
MAIL_USERNAME="example@gmail.com"
MAIL_PASSWORD="example"
MAIL_FROM_ADDRESS="example@gmail.com"
MAIL_FROM_NAME="Almatar"

REDIRECT_CONFIRMATION_MAIL_LINK="http://almatar/verify-points-transfer"
